@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  height: auto;
  background: #fdfdfd;
}

.navbar-skiddie {
  padding: 15px 0;
}

.navbar-skiddie .navbar-brand {
  font-size: 24px;
  font-weight: 600;
}

.navbar-skiddie .navbar-nav .nav-item {
  margin-right: 25px;
}

.navbar-skiddie .navbar-nav .nav-item .active {
  font-weight: 600;
}

header {
  margin-top: 100px;
}

header .image-header {
  position: relative;
  margin-top: 20px;
}

header .image-header img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header .text-header {
  position: relative;
}

header .text-header h3 {
  margin-top: 30px;
  line-height: 1;
  font-size: 40px;
  font-weight: bold;
}

header .text-header p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #a09a9a;
}

header .text-header .btn-header {
  color: #fff;
  margin-top: 15px;
  background-color: #458ff6;
  border-radius: 30px;
  padding: 10px 25px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

header .text-header .btn-header:hover {
  background-color: #154b96;
  color: #fff;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

main {
  margin-top: 250px;
}

main h4 {
  font-size: 24px;
  font-weight: bold;
}

main .border-custom {
  border: 2px solid #ffe815;
  width: 80px;
}

main .section-what-we-do .card-we-do {
  border: none;
  margin: 0 20px;
  margin-top: 45px;
  background-color: #fdfdfd;
}

main .section-what-we-do .card-we-do .image-card {
  margin-top: 30px;
  padding: 20px 0;
}

main .section-what-we-do .card-we-do .image-card img {
  width: 150px;
  height: 150px;
}

main .section-what-we-do .card-we-do h5 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 600;
}

main .section-about-us {
  margin-top: 215px;
}

main .section-about-us .about-us-row {
  margin-top: 40px;
}

main .section-about-us .about-us-row .image-about img {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 550px;
  height: 456px;
}

main .section-about-us .about-us-row .text-about {
  margin-top: 20px;
  color: #78909c;
}

main .section-about-us .about-us-row .btn-about {
  background-color: #458ff6;
  border-radius: 27px;
  color: #fff;
  padding: 10px 20px;
}

main .section-projects {
  margin-top: 215px;
}

main .section-projects .project-container {
  margin-top: 70px;
  padding: 30px 0;
  border-radius: 77px;
  background: transparent;
  color: black;
}

main .section-projects .project-container .card-projects {
  margin-bottom: 10px;
}

main .section-projects .project-container .card-projects .title-project h5 {
  font-size: 24px;
  margin-top: 10px;
  color: #004058;
}

main .section-projects .project-container .card-projects .title-project span {
  font-size: 16px;
  color: #2f2e41;
  font-weight: normal;
}

main .section-projects .project-container .card-projects .description-project p {
  font-size: 16px;
  margin-top: 5px;
  font-weight: normal;
  color: #78909c;
}

main .section-projects .project-container .card-projects .btn-project-section {
  background-color: #1f95c8;
  padding: 5px 30px;
  color: #ffffff;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

main .section-projects .project-container .card-projects .btn-project-section:hover {
  background-color: #1878a1;
}

footer {
  margin-top: 350px;
  background-color: #e2f3ff;
  padding: 30px 0;
}

footer .icon-social {
  display: inline-block;
}

footer .icon-social img {
  height: 28px;
  width: 28px;
}

footer .icon-social-linked {
  display: inline-block;
}

footer .icon-social-linked img {
  height: 78px;
  width: 78px;
}

footer .icon-social-instagram {
  display: inline-block;
}

footer .icon-social-instagram img {
  height: 18px;
  width: 18px;
}

footer .icon-social-gmail {
  display: inline-block;
}

footer .icon-social-gmail img {
  height: 18px;
  width: 18px;
}

footer .border-footer {
  border: 1px solid #000000;
  width: 20%;
  margin: -20px auto 10px auto;
}

@media (min-width: 768px) {
  .section-thanks {
    margin-top: 250px;
  }
  .section-thanks img {
    height: 650px;
    background-size: cover;
    background-attachment: fixed;
  }
  .section-thanks h2 {
    font-weight: 600;
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  header {
    margin-top: 200px;
  }
  header .decoration-one {
    background-image: url("../assets/images/dot.svg");
    position: absolute;
    z-index: 0;
    bottom: auto;
    top: 85px;
    left: 0;
  }
  header .decoration-one img {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
  }
  main {
    margin-top: 250px;
  }
  main h4 {
    font-size: 24px;
    font-weight: bold;
  }
  main .border-custom {
    border: 2px solid #ffe815;
    width: 80px;
  }
  main .section-what-we-do .decoration-two {
    position: absolute;
    z-index: 0;
    right: 0;
  }
  main .section-what-we-do .decoration-two img {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
  }
  main .section-what-we-do .card-we-do {
    border: none;
    margin: 0 20px;
    margin-top: 45px;
    background-color: #fdfdfd;
  }
  main .section-what-we-do .card-we-do .image-card {
    margin-top: 30px;
    padding: 20px 0;
  }
  main .section-what-we-do .card-we-do .image-card img {
    width: 150px;
    height: 150px;
  }
  main .section-what-we-do .card-we-do h5 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  main .section-about-us {
    margin-top: 215px;
  }
  main .section-about-us .about-us-row {
    margin-top: 40px;
  }
  main .section-about-us .about-us-row .image-about img {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 550px;
    height: 456px;
  }
  main .section-about-us .about-us-row .text-about {
    margin-top: 120px;
    color: #78909c;
  }
  main .section-about-us .about-us-row .btn-about {
    background-color: #458ff6;
    border-radius: 27px;
    color: #fff;
    padding: 10px 20px;
  }
}
/*# sourceMappingURL=main.css.map */